<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="panteao.make.ready">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:name=".PanteaoApplication"
        android:allowBackup="false"
        android:banner="@drawable/ic_banner"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        android:usesCleartextTraffic="true"
        tools:replace="allowBackup">
        <activity
            android:name=".activities.show.ui.ShowActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activities.search.ui.TVSearchActivity" />
        <activity android:name=".activities.KalturaPlayerActivity" />
        <activity android:name=".activities.live.LiveActivity" />
        <activity
            android:name=".activities.show.ui.EpisodeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".activities.tutorial.ui.ChapterActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.tutorial.ui.TutorialActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.instructor.ui.InstructorActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="fullSensor" />
        <activity android:name=".activities.ContactActivity" />
        <activity android:name=".activities.downloads.DownloadedEpisodesActivity" />
        <activity
            android:name=".activities.settings.downloadsettings.changequality.ui.ChangeDownloadQuality"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.settings.downloadsettings.DownloadSettings"
            android:screenOrientation="locked" />
        <activity android:name=".activities.deeplink.DeepLinkActivity" />
        <activity
            android:name=".utils.helpers.downloads.DownloadedVideoActivity"
            android:label="@string/title_activity_downloaded_video"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activities.downloads.MyDownloads"
            android:screenOrientation="locked"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activities.detailspage.activity.EpisodeDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" /> <!-- <service -->
        <!-- android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" -->
        <!-- android:enabled="true" /> -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name=".activities.splash.ui.ActivitySplash"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/fcm_host"
                    android:pathPrefix="@string/fcm_prefix"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/fcm_prefix_link"
                    android:scheme="http" />
                <data
                    android:host="@string/fcm_host_link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.splash.ui.TVSplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.homeactivity.ui.TVHomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.detailspage.activity.TVSeriesDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.detailspage.activity.TVInstructorDetailsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".activities.detailspage.activity.VideoDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme"
            tools:replace="android:theme" />

        <activity
            android:name=".activities.usermanagment.ui.TVLoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/MyMaterialTheme"
            tools:replace="android:theme" />

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_key" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="@string/branch_key_test" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activities.usermanagment.ui.ChangePasswordActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.profile.ui.ProfileActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.profile.ui.ProfileActivityNew"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.homeactivity.ui.HomeActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|locale"
            android:launchMode="singleTop"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".activities.search.ui.ActivitySearch"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" /> <!-- Branch install referrer tracking -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.watchList.ui.WatchListActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activities.notification.ui.NotificationActivity" />
        <activity
            android:name=".activities.listing.ui.GridActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.usermanagment.ui.LoginActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.usermanagment.ui.SkipActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.usermanagment.ui.SignUpActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize" />
        <activity
            android:name=".activities.usermanagment.ui.ForgotPasswordActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.termsandconditions.ui.TermAndCondition"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.privacypolicy.ui.WebViewActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.usermanagment.ui.ForceLoginFbActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.series.ui.SeriesDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked" />
        <activity
            android:name=".activities.search.ui.ActivityResults"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.purchase.ui.PurchaseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.purchaseNew.PurchaseActivityNew"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.membershipplans.ui.MemberShipPlanActivity"
            android:launchMode="singleTop" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:enabled="true" />

        <activity
            android:name=".activities.privacypolicy.ui.ContactUsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".cms.HelpActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.videoquality.ui.ChangeLanguageActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.settings.ActivitySettings"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.listing.listui.ListActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.redeemcoupon.RedeemCouponActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".PanteaoMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/more_text_color_dark" /> <!-- <activity -->
        <!-- android:name="com.brightcove.player.captioning.BrightcoveCaptionPropertiesActivity" -->
        <!-- android:theme="@style/MyCustomCaptionSettingsTheme" /> -->
        <activity
            android:name=".activities.article.ArticleActivity"
            android:screenOrientation="locked" />

        <meta-data
            android:name="brightcove_account_id"
            android:value="@string/brightcove_account_id" />
        <meta-data
            android:name="brightcove_policy_key"
            android:value="@string/brightcove_policy_key" />
        <meta-data
            android:name="ovp_api_key"
            android:value="@string/ovp_api_key" />
        <meta-data
            android:name="api_key_mobile"
            android:value="@string/api_key_mobile" />
        <meta-data
            android:name="api_key_tab"
            android:value="@string/api_key_tab" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <activity
            android:name=".activities.videoquality.ui.VideoQualityActivity"
            android:screenOrientation="locked" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.brightcove.cast.DefaultOptionsProvider" /> <!-- <activity -->
        <!-- android:name="com.brightcove.cast.DefaultExpandedControllerActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:parentActivityName=".activities.homeactivity.ui.HomeActivity" -->
        <!-- android:screenOrientation="landscape" -->
        <!-- android:theme="@style/Theme.BrightcoveCast"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <meta-data -->
        <!-- android:name="com.brightcove.cast.DefaultOptionsProvider.EXPANDED_CONTROLLER_ACTIVITY_CLASS_NAME" -->
        <!-- android:value=".activities.chromecast.ExpandedControlsActivity" /> -->
        <meta-data
            android:name="com.brightcove.cast.DefaultOptionsProvider.NOTIFICATION_TARGET_ACTIVITY_CLASS_NAME"
            android:value="com.brightcove.cast.DefaultExpandedControllerActivity" />
    </application>

</manifest>